.movie-block {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--foreground);
  background-color: var(--dark);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  transition: transform 0.3s ease;
}

/* Small screen */
@media (max-width: 768px) {
  .movie-block {
    flex-direction: column;
  }
}

.movie-block:hover {
  transform: translateY(-5px);
}

.movie-card {
  position: relative;
  height: 400px;
  flex: 1 0 50%;
}

.movie-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, var(--dark-semitransparent) 30%, transparent 70%);
  overflow-y: auto;
}

.grid-item.active .movie-card-overlay {
  background: linear-gradient(0deg, var(--dark-semitransparent) 50%, transparent 90%);
}

.movie-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.movie-poster-window {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 200px;
}

.movie-info {
  padding: 16px;
  text-align: left;
}

.movie-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2px;
}

.movie-details {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.875rem;
  margin-bottom: 10px;
  align-items: baseline;
  gap: 0 10px;
}

.movie-genres {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  color: var(--muted)
}

.movie-genre {
  border: 1px solid var(--muted);
  padding: 2px 6px;
  border-radius: 10px;
  font-size: 0.75rem;
}

.movie-rating {
  display: flex;
  align-items: baseline;
  margin-top: 4px;
}

.star {
  color: #ffd700;
  margin-right: 4px;
}

.movie-overview {
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--muted);
  margin-bottom: 10px;
}

.movie:not(.active) .movie-overview {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.movie-expanded {
  box-sizing: border-box;
  flex: 1 0 50%;
  padding: 20px;
  max-height: 400px;
  overflow-y: auto;
  display: none;
  background-color: var(--dark);
  text-align: left;
}

.grid-item.active .movie-expanded {
  display: block;
}

.movie-trailer-section {
  margin-bottom: 20px;
}

.movie-trailer {
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
  background-color: var(--muted);
  border-radius: 5px;
}

.section-title {
  margin-bottom: 10px;
}

.movie-reviews-section {
  margin-bottom: 20px;
}

.movie-review {
  border-radius: 4px;
  margin-bottom: 10px;
}

.review-quote {
  color: var(--muted);
  display: -webkit-box;
}

.review-quote:not(.active) {
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.review-author {
  flex-grow: 1;
  text-align: right;
}

.similar-movies {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: nowrap;
  gap: 5px;
  max-width: 100%;
  overflow-x: auto;
  padding-bottom: 10px;
}

.similar-movie-image {
  width: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
  border-radius: 4px;
}

.review-rating {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

#scroll-sentinel {
  display: flex;
  flex-direction: column;
  place-items: center;
}

#scroll-sentinel .spinner {
  display: none;
}

#scroll-sentinel p {
  color: var(--muted)
}